

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/squared_metal/squared_metal_@2X.png);
    border-color: #dddddd;
    color:#777777;
    /*   If we want webpage to be adjusted along with screensize, we should not put a hardcoded width of 960px.
    And also we can use percentage width for #header, footer and nav selector   */
    width: 960px;
    font-size: 15px;
    margin: auto;
}

header{
    background-color: #ffffff;
    border-color: #cccccc;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    /* font-weight: bold; */
}

.header1{
    background: #4aaaa5;
    color: white;
    padding: 20px;
    float: left;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;

}

nav{
    float: left;
    width: 670px;
    padding: 20px;
    padding-right:0;
    text-align: right;
}


footer{
    background: #666666;
    color: white;
    clear: both;
    text-align: center;
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.div1 {
    clear: both;
    padding: 20px;
    background: #ffffff;
}

img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    height: 132px;
    width: 168px;
}

a{
    text-decoration: none !important;
    color:#777777;
}

p{
    line-height: 1.6;
}

